extends index.pug

block content
  #categories
    each type, i in allTypes
        .productType(productID=i)
            h2 #{type.name}
                ul
                    each product in type.Products
                        li #{product.title}
