extends index.pug

block content
  #categories
    each type, i in allTypes
        .productType(productID=type.id)
            h2 #{type.name} (#{type.total_products})
            ul
                each product in type.Products
                    li #{product.title}

block scripts
    script(src='js/categories.js')
