extends index.pug

block content
  h1 You payed for your order! 
  h2 Most orders ship in 88 - 103 weeks!
  h3 Hope you're patient!
  
  a(href='/')
    button back to the home page
  a(href='/account')
    button back to my account