doctype html
html
  head
    style
      include ../client/css/index.css
    title Bangazon!
  body
    include partials/nav.pug
    h1 Bangazon!
    h2 #{globalWow}

    block content
      button#showLogin login
      button#showRegister register
    
    block scripts
      script(src='js/client.js')
  
  