extends index.pug

block content
  .product-detail
    h2 #{title}
    h4 #{description}
    p $#{price}
    p #{quantity} left in stock
    if session.passport
      button.addToOrder Add to cart
    
block scripts
  script(src='/js/search.js')
