extends index.pug

block content
    //- form#addProduct(name='addProduct' method='post' action='/inventory/add')
    #productForm
        .productInput
            label(for='title') Product Title
            input(prop='title' name='title' type='text')
            span.errAsterisk
        .productInput
            label(for='price') Price
            input(prop='price' name='price' type='text')
            span.errAsterisk
        .productInput
            label(for='description') Description
            textarea(prop='description' name='description')
            span.errAsterisk
        .productInput
            label(for='quantity') Quanity Available
            input(prop='quantity' name='quantity' type='number' min=1 value=1)
            span.errAsterisk
        .productInput
            label(for='typeSelect') Product Type 
            select#typeSelect(prop='product_type_id')
                option
                each prodType in productTypes
                    option(value=prodType.id) #{prodType.name}
            span.errAsterisk
    .productSubmit
        input#addProductButton(type='submit')
    #productFormError

block scripts
    script(src='../js/addProduct.js')
